.form-control {
    border-color: black;
}

.badge-custom-peru {
    background-color: peru;
    color: #fff;
}

.badge-custom-sunshine {
    background-color: #F7B733;
    color: #fff;
}

.badge-custom-maroon {
    background-color: maroon;
    color: #fff;
}