.form-control {
    border-color: black;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #632ca6;
    border-color: #632ca6;
    outline:none;
}

.btn-navy-inverse {
    color: #632ca6;
    border: 1px solid #632ca6;
    background-color: inherit;
}

.btn-navy-inverse:hover {
    color: white;
    border: 1px solid #632ca6;
    background-color: #632ca6;
}

.badge-custom-peru {
    background-color: peru;
    color: #fff;
}

.progress-peru {
    background-color: peru;
}

.badge-custom-sunshine {
    background-color: #F7B733;
    color: #fff;
}

.badge-custom-maroon {
    background-color: maroon;
    color: #fff;
}

.badge-custom-hotpink {
    background-color: hotpink;
    color: #fff;
}

.badge-custom-purple {
    background-color: darkorchid;
    color: #fff;
}

.badge-custom-purple-inverted {
    background-color: inherit;
    color: darkorchid;
    border: 1px darkorchid solid;
}