body {
  font-family: 'Quicksand', sans-serif;
  background-color: whitesmoke;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.modal-content {
  border-radius: 0;
  border: none;
}

.card {
  border-radius: 0;
}

.taskUpdateForm {
  border: 1px solid rgba(0,0,0,.125);
}

.badge {
  border-radius: 0;
  padding: 5px;
}

.form-control {
  border-color: transparent;
  border-radius: 0;
}

.deleteIcon {
  height: 17px;
  width: 17px;
  border-radius: 100%;
  margin: 0 0 4px 1px;
}

.deleteIcon:hover {
  cursor: pointer;
}

.arrowIcon {
  height: 18px;
  width: 18px;
}

.form-control:focus {
  border-color:  transparent;
  box-shadow: 0 0 0 0.2rem rgb(0, 128, 0);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.mongo-logo {
  height: 10vmin;
}

.github-link {
  color: white;
}

.github-link:hover {
  text-decoration: none;
  color: whitesmoke;
}

.github-logo {
  height: 23px;
}

.table-dark {
  background-color: inherit;
}

.jiraLinks, .jiraLinks:hover, .jiraLinks:focus {
  text-decoration: none;
  color: black;
}

.jiraLinkPill {
  border: 2px solid gold;
  border-radius: 25px;
  background-color: gold;
  color: black;
  padding: 1px 7px;
}

.jiraLinkPill:hover, .jiraLinkPill:focus {
  text-decoration: none;
  color: white;
}

.progress-bar {
  background-color: #000080;
}

.btn {
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

.btn-custom {
  background-color: #008000;
  color: #ffffff;
}

.btn-custom:hover {
  background-color: #1A9A1A;
  color: #ffffff;
}       

.btn-custom:focus {
  background-color: #1A9A1A;
  color: #ffffff;
  box-shadow: none;
}

.btn-custom-red {
  color: white;
  background-color: #e83e8c;
  border-color: #e83e8c;
}

.btn-custom-red:hover {
  color: #e83e8c;
  background-color: inherit;
  border-color: #e83e8c;
}

.btn-custom-red:focus {
  color: #343a40;
  background-color: #e83e8c;
  border-color: #e83e8c;
  box-shadow: none;
}


.btn-custom-blue {
  color: #ffffff;
  background-color: #000080;
  border-color: #000080;
}

.btn-custom-blue:hover{
  color: #ffffff;
  background-color: #1A1A9A;
  border-color: #1A1A9A;
}

.btn-custom-blue:focus {
  color: #ffffff;
  background-color: #1A1A9A;
  border-color: #1A1A9A;
  box-shadow: none;
}



.arrow-btn:hover{
  border-color: black;
}

.arrow-btn:focus {
  border-color: black;
  box-shadow: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.App-link:hover, .App-link:focus {
  color: #2EA7C8;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 10px;
  
}

::-webkit-scrollbar-track {
  background: inherit;
}
 

::-webkit-scrollbar-thumb {
  background: #6c757d; 
}


::-webkit-scrollbar-thumb:hover {
  background: #5a6268; 
}